.contenedor {
    width: 100%;
    height: auto;
    background-color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titulo {
    text-align: center;    
}

.linea {
    color: aqua;
}

h3 {
    color: chocolate;
}

.texto {
    margin-left: 15px;
    padding-bottom: 5px;
}

h1 {
    text-transform: uppercase;
}